<% if comment.present? && comment.id.present? %>
  <ul class="recent-comments">
    <li style="line-height: 9px;">
      <div class="comments">
        <p>
          <a href="#"><%= comment.content %></a>
        </p>  
        <span class="user-info"> User: <%= comment.comment_user %> on <%= date_formate(comment.created_at) %> </span>
        <% if current_user.present? && comment.is_owner?(current_user.id) %>
          <%= link_to 'x', public_blog_path(comment, :product_id => comment.product.id), 
            method: :delete, :class=>"badge badge-important", :remote => true %>
        <% end %>
      </div>
    </li>
  </ul>
<% end %>
