<div id="hero">
  <div class="container">
    <div class="row animated fadeInDown">
      <div class="span12">
        <div id="myCarousel" class="carousel slide" style="min-height :285px;">
          <div class="carousel-inner">
           <div class="active item slide1">
              <div class="row">
                <div class="span9 offset2">
                  <h1>
                    Use this website to see review for the hottest<br> educational software releases and post your<br> own!
                  </h1>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

