<li>
  <div class="article-post">
    <p>
      <a href="javascript:void(0);"><%= truncate_string(recent_comment.content, 50) %></a>
    </p>    
    <span class="user-info"> By: <%= recent_comment.comment_user %> on <%= date_formate(recent_comment.created_at) %> </span>
  </div>
</li>

